<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/assets/css/about.css" >
</head>
<body>
    <div class="comp">
    <h1>...About Us...</h1>
    </div>
    <div class="items">
        <ul>
            <li> Digital Libaray</li>
            <li> Easy to learn through Videos</li>
            <li> PDF Material is also provided</li>
            <li> Every Quiz conatians at least 30 Questions</li>
            <li> Important Topics have been Explained Better </li> 
        </ul>
    </div>
</body>
</html>