<html>
	<head>
		<title class="com">Eedict.com</title
			> 
		<!--To link index.css file to index.ejs file-->

		<link rel="stylesheet" type="text/css" href="../assets/css/index.css" >
	</head>
	<body>
		<!--Name of Website-->
		<div class="compliment">
			<h1>Eeduct.com</h1>
			
			<!--Menu or Navbar of site-->
			<div class="menu">
				<ul id="menu1">
					<li><a href="about">About</a></li> <!--About Page-->
					<li><a href="contacts" >Contacts</a></li> <!--Contacts Page-->
					<li><a href="courses" >All Courses</a></li> <!--Courses Page-->
				</ul>
			</div>
		</div>
			<div class="container">
			
			<!--Line below the Eeduct.com to whole page-->
			<div class="line1"></div>
			<div class="line2"></div>	

			<!--Quiz title-->
			<div class="quiz">
				<h1>Quiz...?</h1>
			</div>
			
			<!--boxes of address to quiz-->
			<div class="block">
				<div id="pic"><a href="c_lang_quiz"><img src="../assets/logos/New folder/download new1 c.png" /></a></div>
				<ul class="des">
					<li>30 Questons</li>
					<li>Data Structure Included</li>
					<li>Basic Language</li>
				</ul></a>
			</div>
			<div class="block">
				<div id="pic"><a href="cpp_lang_quiz"><img src="../assets/logos/New folder/new cpp.png" /></a></div>
				<ul class="des">
					<li>30 Questons</li>
					<li>Graphics</li>
					<li>Object Oriented</li>
				</ul>
			</div>
			<div class="block">
				<div id="pic"><a href="py_lang_quiz"><img src="../assets/logos/New folder/new python.png" /></a></div>
				<ul class="des">
					<li>30 Questons</li>
					<li>Iterpretended Language</li>
					<li>High Level & Portable</li>
				</ul>
			</div>
			<div class="block">
				<div id="pic"><a href="js_lang_quiz"><img src="../assets/logos/New folder/download  new js.png" /></a></div>
				<ul class="des">
					<li>30 Questons</li>
					<li>Client Side Scripting</li>
					<li>Web Development</li>
				</ul>
			</div>

			<!--Tutorials title-->
			<div class="tut">
				<h1>Tutorials..</h1>
			</div>
			
			<!--Title box of address to tut page -->
			<div class="block_1">
				<div id="pic"><a href="c_lang_tut"><img src="../assets/logos/New folder/download new1 c.png" /></a></div>
				<ul class="des_1">
					<li>20 Video Lectures</li>
					<li>PDF Material</li>
					<li>Data Structure Included</li>
					<li>Basic Language</li>
				</ul></a>
			</div>
			<div class="block_1">
				<div id="pic"><a href="cpp_lang_tut"><img src="../assets/logos/New folder/new cpp.png" /></a></div>
				<ul class="des_1">
					<li>20 Video Lectures</li>
					<li>PDF Material</li>
					<li>OOPS! Concepts</li>
					<li>Object Oriented</li>
				</ul>
			</div>
			<div class="block_1">
				<div id="pic"><a href="py_lang_tut"><img src="../assets/logos/New folder/new python.png" /></a></div>
				<ul class="des_1">
					<li>20 Video Lectures</li>
					<li>PDF Material</li>
					<li>Iterpretended Language</li>
					<li>High Level & Portable</li>
				</ul>
			</div>
			<div class="block_1">
				<div id="pic"><a href="js_lang_tut"><img src="../assets/logos/New folder/download  new js.png" /></a></div>
				<ul class="des_1">
					<li>20 Video Lectures</li>
					<li>PDF Material</li>
					<li>Client Side Scripting</li>
					<li>Web Development</li>
				</ul>
			</div>

		</div>
	</body>

</html>